<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<ul class='nav pull-left'>
			<li {{bindAttr class="activeHome:active"}}>{{#linkTo "home"}}Home{{/linkTo}}</li>
			<li class="divider-vertical"></li>
			{{#if Auth.authToken}}
				{{#if Auth.loggedUser.admin}}
					<li {{bindAttr class="activeUsers:active"}}>{{#linkTo "users.index"}}Users{{/linkTo}}</li>
					<li class="divider-vertical"></li>
				{{/if}}
			{{/if}}
		</ul>
		<ul class='nav pull-right'>
			{{#if Auth.authToken}}
				<li class="disabled">{{#linkTo "users.show" Auth.loggedUser}}{{Auth.loggedUser.name}}{{/linkTo}}</li>
				<li class="divider-vertical"></li>
		  	<li {{bindAttr class="activeSignOut:active"}}><a  href="#" {{action "signOut"}}>Sign Out</a></li>
			{{else}}
				<li class="divider-vertical"></li>
		  	<li {{bindAttr class="activeSignIn:active"}}>{{#linkTo "sign_in"}}Sign In{{/linkTo}}</li>
				<li class="divider-vertical"></li>
		  	<li {{bindAttr class="activeSignUp:active"}}>{{#linkTo "users.new"}}Sign Up{{/linkTo}}</li>
			{{/if}}
		</ul>
	</div>
</div>

{{outlet}}
