<div class="session_form">
	{{#if loginError}}
		<div class="alert alert-error">
		  <button type="button" class="close" data-dismiss="alert" {{action "dismissError"}}>&times;</button>
		  {{loginResponse}}}
		</div>
	{{/if}}
	<form>
		<fieldset>
			<legend>Log In</legend>
	    <label>
				Email<br>
	    	{{view Ember.TextField type="email" valueBinding="email"}}
			</label>
	    <label>
				Password<br>
	    	{{view Ember.TextField type="password" valueBinding="password"}}
			</label>
			<label class="checkbox">Remember me {{view Ember.Checkbox type="checkbox" checkedBinding="remember"}}</label>
			<br>
	    <button {{action "signIn"}} class="btn" type="submit">Log In</button>
		</fieldset>
	</form>
</div>