<div class="session_form">
	<legend>Sign Up</legend>
	<p>Sign up with: </p>
	{{view BaseApp.Oauth}}
	<br><br>
	{{#if validationError}}
		<div class="alert alert-error">
		  <button type="button" class="close" data-dismiss="alert" {{action "dismissError"}}>&times;</button>
		  {{validationErrors}}}
		</div>
	{{/if}}
	<form>
			<label>
				Name<br>
				{{view Ember.TextField valueBinding='name' name='name' disabledBinding='validationError'}}
			</label>
			<label>
				Email<br>
				{{view Ember.TextField valueBinding='email' name='email' type="email" disabledBinding='validationError'}}
			</label>
			<label>
				Password<br>
				{{view Ember.TextField type="password" valueBinding='password' name='password' disabledBinding='validationError'}}
			</label>
			<label>
				Password confirmation<br>
				{{view Ember.TextField type="password" valueBinding='password_confirmation' name='password_confirmation' disabledBinding='validationError'}}
			</label>
			<br>
			<button {{action "save"}} {{bindAttr class=":btn validationError:disabled"}}>Sign Up</button>
			<button type="button" class="btn" {{action "cancel"}}>Cancel</button>
	</form>
</div>