<div class="session_form">
	{{#if signupError}}
		<div class="alert alert-error">
		  <button type="button" class="close" data-dismiss="alert" {{action "dismissError"}}>&times;</button>
		  {{validationErrors}}}
		</div>
	{{/if}}
	<legend>Sign Up</legend>
	<form>
			<label>Name</label>
			{{view Ember.TextField valueBinding='name' name='name'}}
			<label>Email</label>
			{{view Ember.TextField valueBinding='email' name='email' type="email"}}
			<label>Password</label>
			{{view Ember.TextField type="password" valueBinding='password' name='password'}}
			<label>Password confirmation</label>
			{{view Ember.TextField type="password" valueBinding='password_confirmation' name='password_confirmation'}}
			<br>
			<button {{action "save"}} class='btn'>Sign Up</button>
	</form>
</div>